<footer class="bg-main-light py-4">
    <div class="container">
        <h3 class="fw-bold">Get The Fresh Cart App</h3>
        <p><span class="text-main"> We Well Send You a Link</span>
        </p>
        <div class="d-flex gap-3">
            <input type="email" placeholder=" Enter Your Email" class="form-control">
            <button class="main-btn flex-shrink-0">Share App Link</button>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 d-flex gap-3 align-items-center">
                <h6>Payment Partners</h6>
                <img src="../../../assets/imgs/amazonpay.svg" alt="amazonas">
                <img src="../../../assets/imgs/american-express.svg" alt="american">
                <img src="../../../assets/imgs/mastercard.svg" alt="mastercard">
                <img src="../../../assets/imgs/paypal.svg" alt="paypal">
            </div>
            <div class="col-md-6 d-flex gap-3 align-items-3 my-4 pt-3 footer-img">
                <h5>Get Deliveries With Fresh Cart</h5>
                <img src="../../../assets/imgs/appstore-btn.svg" alt="app store">
                <img src="../../../assets/imgs/googleplay-btn.svg" alt="google play">
            </div>
        </div>
        <hr>
        <h3 class="h6 text-center ">© 2023 FreshCart eCommerce . All rights reserved. Powered by <span
                class="fw-bold text-main">
                Ismaeel
                Abu-Elmaaty...
            </span>
        </h3>
    </div>
</footer>