h2{
    font-weight: 800;
    font-size: 2rem;
  border-bottom: 3px solid #ffc908;
  display: inline-block;
}

.buton{
  border: 1px solid #0aad0a;
  color: #0aad0a;
}
.buton:hover{
 background-color: #0aad0a;
  color: #fff;
}
.templet{
  height: 300px;
  background-image: url(../../../assets/imgs/f6e464230662e7fa4c6a4afb92631aed.png);
  background-size: cover;
  background-position: center;
}
