<section>
    <div class="container">
        <div class="row justfaiy-content-center align-items-center vh-100 ">
            <div class="col-md-6">
                <div class="ms-auto w-75 mb-5 pb-4">
                    <img src="./assets/imgs/freshcart-logo.svg" alt="error">
                </div>
                <div class=" w-75 ms-auto mb-5 pb-5">
                    <h2 class="fw-bolder text-balck fs-2">Something’s wrong here...</h2>
                    <p class="small my-3">We can’t find the page you’re looking<br> for.
                        Check out or head back to home.</p>
                    <button routerLink="/home" class="btn active-link ">Back To Home</button>
                </div>
            </div>
            <div class="col-md-6 ">
                <div>
                    <img src="../../../assets/imgs/error.svg" alt="fresh cart">
                </div>

            </div>
        </div>
    </div>
</section>