<section>
    <div class="container w-75 mx-auto shadow rounded p-4 my-5 bg-main-light">
        <h1 class="text-center mt-3 fw-bold">Login Now</h1>
        <form [formGroup]="loginForm" (ngSubmit)="handleForm()" class="my-3">
            <div class="w-50 mx-auto text-center" *ngIf="errMessage">
                <p class="alert alert-danger p-1 mb-0">{{errMessage}}</p>
            </div>
            <div class="form-item mt-2">
                <label for="email">Email</label>
                <input [class.is-invalid]="loginForm.get('email')?.errors && loginForm.get('email')?.touched"
                    [class.is-valid]="loginForm.get('email')?.errors ==null" formControlName="email" type="email"
                    class="form-control" id="email">
                <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched"
                    class="alert alert-danger p-1 small w-50 text-center mx-auto">
                    <p class="mb-0" *ngIf="loginForm.get('email')?.getError('required')"> email Is Required</p>
                    <p class="mb-0" *ngIf="loginForm.get('email')?.getError('email')">Email Invalid Format</p>
                </div>
            </div>
            <div class="form-item  mt-2">
                <label for="password">Password</label>
                <input [class.is-invalid]="loginForm.get('password')?.errors && loginForm.get('password')?.touched"
                    [class.is-valid]="loginForm.get('password')?.errors ==null" formControlName="password"
                    type="password" class="form-control" id="password">
                <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched"
                    class="alert alert-danger p-1 small w-50 text-center mx-auto">
                    <p class="mb-0" *ngIf="loginForm.get('password')?.getError('required')"> password Is Required</p>
                    <p class="mb-0" *ngIf="loginForm.get('password')?.getError('pattern')">Must be at least 6 chars</p>
                </div>
            </div>
            <button [disabled]="loginForm.invalid" class="main-btn my-3">Login <span *ngIf="isLoading"> <i
                        class="fas fa-spin fa-spinner text-warning"></i></span></button>
            <!-- <a routerLink="/forgotPassword" class="text-main mx-4">Reset Password</a> -->
        </form>
    </div>
</section>